version: '3.8'

services:
  jenkins:
    build: 
      context: ./jenkins
    container_name: jenkins
    restart: unless-stopped
    privileged: true
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /home/iadmin/.kube:/root/.kube
      - /home/iadmin/.minikube:/root/.minikube
      - /opt/jenkins/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - gitlab-network
    extra_hosts:
      - "gitlab.local:host-gateway"

  jenkins-agent:
    build:
      context: ./jenkins/agent
    container_name: jenkins-agent
    restart: unless-stopped
    privileged: true
    user: root
    depends_on:
      - jenkins
    environment:
      - JENKINS_URL=http://jenkins:8080
      - JENKINS_AGENT_NAME=docker-agent
      - JENKINS_SECRET=${AGENT_SECRET:-please_fill_me}
      - JENKINS_WEB_SOCKET=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/jenkins/agent:/home/jenkins/agent
    networks:
      - gitlab-network

networks:
  gitlab-network:
    driver: bridge
